appnope==0.1.2
backcall==0.2.0
bcrypt==3.2.0
Bcrypt-Flask==1.0.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cors==1.0.1
cryptography==3.4.7
debugpy==1.4.1
decorator==5.0.9
doqu==0.28.2
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
future==0.18.2
gevent==21.8.0
greenlet==1.1.1
idna==3.2
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mysql-connector-python==8.0.26
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
PyJWT==2.1.0
PySocks==1.7.1
python-dateutil==2.8.2
pyzmq==22.1.0
requests==2.26.0
requests-file==1.5.1
six==1.16.0
tldextract==3.1.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
gunicorn